.button {
  padding: 15px 0;
  width: 275px;

  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;

  border: solid 3px @white;
  border-radius: 50px;
}

.button--color {
  margin-top: 10px;

  color: @darkPink;

  background-color: @lightBackground;
  border-color: @darkPink;
}
