.button {
  padding: 15px 0;
  width: 275px;

  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;

  border: solid 3px @white;
  border-radius: 50px;
}

.button--color {
  margin-bottom: 15px;
  width: 280px;
  color: @darkPink;
  background-color: @lightBackground;
  border-color: @darkPink;
}

.button--color:hover {
  color: @white;
  background-color: @darkPink;
}

.button--color:active {
  color: #e06989;
  background-color: @darkPink;
}

.button--cancel {
  width: 280px;
  color: #dddfe0;
  background-color: @lightBackground;
  border-color: #dddfe0;
}

.button--cancel:hover {
  color: #b5b9be;
  border-color: #b5b9be;
}

.button--cancel:active {
  color: #cbced2;
  background-color: #b5b9be;
}

@media (min-width: @tablet-width) {
  .button {
    width: 295px;
  }

  .button--color,
  .button--cancel {
    width: 260px;
  }

  .button--color {
    margin-bottom: 23px;
  }
}

@media (min-width: @desktop-width) {
  .button {
    font-size: 21px;
  }

  .button--color,
  .button--cancel {
    margin: 0;
    width: 185px;
    font-size: 18px;
  }
}
