.button-square {
  display: block;
  width: 276px;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;

  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  color: @white;

  background-color: @green;
  border: 0;
  border-radius: 3px;
}
