.button-square {
  display: block;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 276px;

  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  color: @white;

  background-color: @green;
  border: 0;
  border-radius: 3px;
}

.button-square:hover {
  background-color: #1c9b5e;
}

.button-square:active {
  color: #61b98f;
  background-color: #1c9b5e;
  outline: none;
}

.button-square:disabled {
  background-color: #e5e5e5;
}

@media (min-width: @tablet-width) {
  .button-square {
    width: 300px;
  }
}
