.contacts__title {
  padding-bottom: 0;

  font-size: 18px;
  font-weight: bold;
  color: @fontColor;
}

.contacts__text {
  margin-top: 0;
  padding: 0;

  font-size: 24px;
  font-weight: lighter;
  line-height: 1.2;
  color: @fontColor;
}

.contacts__list {
  margin: auto;
  padding: 0;

  outline: solid 2px plum;
}

.contacts__text--color,
.contacts__phone,
.contacts__email {
  color: @darkPink;
}
