.info {
  padding-top: 10px;
  margin: 0;
  line-height: 1.2;
  text-align: center;
  color: rgb(40, 54, 69);
}

.info__text {
  font-size: 24pt;
  font-weight: lighter;
}

.info__wrapper {
  padding-top: 20px;

  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: @lightBackground;
}

.info__list {
  padding: 0;
  padding-bottom: 320px;
  list-style-type: none;
}

.info__item {
  margin-bottom: 10px;
}

.info__slogan {
  font-size: 18px;
  line-height: 30px;
  color: @black;
}

.info__sentence {
  width: 260px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 20px;

  line-height: 30px;
}

.info__british {
  display: none;
}

@media (min-width: @tablet-width) {
  .info {
    padding-top: 60px;
  }

  .info__list {
    padding-bottom: 0;
    padding-left: 50%;
    width: 50%;

    text-align: left;
  }

  .info__text {
    font-size: 40px;
    margin: 0;
  }

  .info__sentence {
    padding-left: 0;
    margin: 0;
    margin-right: 20px;
    width: auto;
  }

  .info__wrapper {
    box-sizing: border-box;
    margin-top: 40px;
    padding-top: 50px;
    padding-bottom: 50px;

    background-size: auto 100%;
    background-position: 20px 20px;
  }

  .info__british {
    display: block;

    margin-top: -50px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50%;
    width: 50%;

    text-align: left;
    background-color: @white;
  }

  .info__slogan--big {
    font-size: 30px;
    line-height: 36px;
  }

  .info__link {
    color: @darkPink;
    text-decoration: underline;
  }
}

@media (min-width: @desktop-width) {
  .info__wrapper {
    margin: auto;
    padding: auto;

    background: none;
  }

  .info__text {
    font-size: 50px;
  }

  .info__list {
    display: flex;
    justify-content: space-around;
    // flex-shrink: 1;

    padding: 0;
    width: 100%;
    background-color: @lightBackground;
  }

  .info__item {
    padding-top: 310px;
    flex-basis: 250px;
    text-align: center;
    background-color: @lightBackground;
  }

  .info__item:nth-child(1) {
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-position: top center;
    background-repeat: no-repeat;
    // background-color: @lightBackground;
  }

  .info__item:nth-child(2) {
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-position: top center;
    background-repeat: no-repeat;
    // background-color: @lightBackground;
  }

  .info__item:nth-child(3) {
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-position: top center;
    background-repeat: no-repeat;
    // background-color: @lightBackground;
  }

  .info__slogan {
    display: block;

    margin-top: -50px;
    padding-top: 60px;
    font-size: 30px;
    background-color: @lightBackground;
  }

  .info__sentence {
    margin-top: 30px;
    font-size: 18px;
  }

  .info__british {
    margin-top: -50px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 40%;
    width: 60%;

    text-align: left;
    background-color: @white;
  }

  .info__sentence--british {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right: 70px;
  }

  .info__link {
    font-size: 18px;
  }

  .info__slogan--big {
    padding: 0;
    font-size: 30px;
    line-height: 30px;
  }

  .info__slogan--big br {
    display: none;
  }
}
