.main-nav {
  margin: 0 auto;
}

.main-nav__logo {
  width: 70px;
  height: 41px;
  margin-left: -52px;
}

.main-nav__part {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 5px;
  padding-bottom: 24px;
  padding-left: 0;
  padding-right: 19px;
  box-shadow:
    0 -2px 0 0 @black,
    0 2px 0 0 #485461;
}

.main-nav__list {
  margin: 0;
  padding: 0;

  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  text-transform: uppercase;
  list-style-type: none;
}

.main-nav__link {
  display: block;
  width: 320px;
  color: @white;
}

.main-nav__link:not(.main-nav__link-active):hover {
  color: #d22856;
}

.main-nav__link:not(.main-nav__link-active):active {
  color: #d22856;
  opacity: 0.7;
}

.main-nav__close {
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 0;
  outline: none;
}

.main-nav__menu-cross {
  color: @white;
}

.main-nav__close:hover .main-nav__menu-cross {
  color: rgba(210, 40, 86, 1);
}

.main-nav__close:active .main-nav__menu-cross {
  color: rgba(210, 40, 86, 0.3);
  outline: none;
}

.main-nav__open-js {
  width: 50px;
  height: 24px;
  background-color: transparent;
  border: 0;
  outline: none;
}

.main-nav__menu-burger {
  color: @white;
}

.main-nav__open:hover .main-nav__menu-burger {
  color: rgba(210, 40, 86, 1);
}

.main-nav__open:active .main-nav__menu-burger {
  color: rgba(210, 40, 86, 0.3);
  outline: none;
}

.main-nav__part--background-js {
  // background-color: rgba(29, 38, 49, 0.3);
}

.main-nav__svg {
  color: @white;
}

.main-nav__svg:hover {
  color: @darkPink;
}

.main-nav__svg:active {
  color: #6c7682;
}

.main-nav__glasses,
.main-nav__glasses-stars,
.main-nav__stars {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-nav__logo {
    margin-left: 0;
  }

  .main-nav__glasses {
    display: block;
  }

  .main-nav__part {
    padding-top: 27px;
    padding-bottom: 42px;
    padding-left: 20px;
  }

  .main-nav__link {
    width: 660px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__glasses {
    display: none;
  }

  .main-nav__glasses-stars,
  .main-nav__stars {
    display: block;
  }

  .main-nav__stars {
    color: @darkPink;
  }

  .main-nav {
    display: flex;
    justify-content: space-around;
    padding-right: 10px;
    padding-left: 10px;
    max-width: @desktop-width;
  }

  .main-nav__wrapper {
    margin-left: auto;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-shrink: 0;
    margin-left: auto;

    font-weight: inherit;
    text-transform: none;
    line-height: 18px;
    letter-spacing: 0.02em;
  }

  .main-nav__part {
    padding-top: 27px;
    padding-bottom: 38px;
    box-shadow: none;
    padding-right: 0;
    padding-left: 0;
  }

  .main-nav__close,
  .main-nav__open,
  .main-nav__part--hat {
    display: none;
  }

  .main-nav__link {
    display: inline;
  }

  .main-nav__link-active {
    padding-bottom: 6px;
    border-bottom: 2px solid @white;
  }

  .main-nav__link:hover {
    color: @darkPink;
  }

  .main-nav__link:not(.main-nav__link-active):active {
    color: @menuDown;
  }

  .main-nav__link-active:active,
  .main-nav__link-active:hover {
    color: @white;
  }
}
