.main-nav {
  margin: 0 auto;
}

.main-nav__logo-glasses-toggle {
  display: none;
}

.main-nav__part {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: @paddingLeft;
  padding-right: @paddingRight;
  box-shadow:
    0 -2px 0 0 @black,
    0 2px 0 0 #485461;
}

.main-nav__list {
  margin: 0;
  padding: 0;

  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  text-transform: uppercase;
  list-style-type: none;
}

.main-nav__link {
  color: @white;
}

.main-nav__toggle {
  border: 0;
  width: 24px;
  height: 24px;
  background-image: url("../img/icon-menu-cross.svg");
  background-repeat: no-repeat;
  background-color: transparent;
}

.main-nav__toggle:hover {
  background-image: url("../img/icon-menu-cross-hover.svg");
}

.main-nav__toggle:active {
  background-image: url("../img/icon-menu-cross-down.svg");
}

@media (min-width: @tablet-width) {
  .main-nav__logo-toggle {
    display: none;
  }

  .main-nav__logo-glasses-toggle {
    display: block;
  }

  .main-nav__part {
    padding-bottom: 42px;
  }
}


@media (min-width: @desktop-width) {
  .main-nav {
    display: flex;
    justify-content: space-around;
    padding-right: 21px;
    // padding-left: 10px;
    width: @desktop-width;
  }

  .main-nav__wrapper {
    margin-left: auto;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-shrink: 0;

    font-weight: inherit;
    text-transform: none;
    line-height: 18px;
    letter-spacing: 0.02em
  }

  .main-nav__part {
    padding-top: 21px;
    padding-bottom: 38px;
    box-shadow: none;
    padding-right: 50px;
  }

  .main-nav__toggle {
    display: none;
  }
}
