.page-wrapper {
  width: 320px;
  margin: auto;
}

@media (min-width: @tablet-width) {
  .page-wrapper {
    width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  .page-wrapper {
    width: 100%;
  }

  .page-wrapper__main-nav {
    margin: auto;
    background-color: rgba(27, 36, 46, 0.3);
    background-origin: border-box;
  }
}
