.page-main {
  // position: relative;
  margin: 0;
  color: @fontColor;
  outline: solid 2px yellow;
}

.page-main__list {
  list-style-type: none;
  padding: 0;
  outline: solid 2px magenta;
}

.page-main__text {
  width: 280px;
  margin: 0 auto;
  margin-top: 50px;

  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.page-main__item {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;

  background-color: @lightBackground;
}
