.page-contacts {
  text-align: center;
}

.page-contacts__wrapper {
  padding-top: 24px;
}

.page-contacts__map {
  width: 320px;
  height: 421px;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .page-contacts__map {
    width: auto;
  }
}
