.page-header {
  position: relative;
  margin: auto;

  color: @white;
  background: @fontColor;
}

.page-header__svg {
  color: @white;
}

.page-header__svg:hover {
  color: @darkPink;
}

.page-header__svg:active {
  color: #6c7682;
}

.page-header__glasses,
.page-header__glasses-stars,
.page-header__stars {
  display: none;
}

.page-header__bottom {
  width: 100%;
  height: 394px;
  margin: 0 auto;

  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-position: left bottom, center bottom 3px;
  background-repeat: no-repeat;
  background-size: 258px auto, 700px auto;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png"), url("../img/bg-back-mobile@2x.jpg");
  }
}

.page-header__bottom--inner,
.page-header__bottom--photo {
  padding: 29px 0 55px 0;
  height: auto;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top -70px;
  background-size: 700px auto;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.page-header__bottom--photo {
  padding: 29px 0 83px 0;
}

.page-header__headline {
  display: none;
}

.page-header__text {
  display: block;

  margin: 0 auto;
  padding-top: 100px;
  width: 280px;

  font-size: 24px;
  font-weight: lighter;
  line-height: 1.2;
  text-align: center;
  color: @white;
}

.page-header__text--inner {
  padding: 0;
}

.page-header__text--photo {
  padding: 0;
}

@media (min-width: @tablet-width) {
  .page-header__glasses {
    display: block;
  }

  .page-header__wrapper {
    display: flex;
    flex-direction: row-reverse;
    flex-shrink: 0;
    padding-top: 90px;
    padding-left: 7px;
    padding-bottom: 110px;

    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-position: center bottom, center bottom;
    background-size: 700px auto, 1200px auto;
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png"), url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .page-header__software {
    width: 50%;
  }

  .page-header__text--inner,
  .page-header__text--photo {
    width: 500px;
    font-size: 50px;
  }

  .page-header__bottom {
    width: 50%;
    height: auto;
    background-image: none;
  }

  .page-header__bottom--inner,
  .page-header__bottom--photo {
    padding: 0;
    padding-top: 67px;
    padding-bottom: 80px;
    width: 100%;
    height: auto;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center top -110px;
    background-size: 1200px auto;
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .page-header__bottom--photo {
    padding-bottom: 140px;
    background-position: center top -115px;
  }

  .page-header__headline {
    display: block;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 31px;

    font-size: 40px;
    font-weight: lighter;
    line-height: 1.2;
    text-align: center;
    color: @white;
  }
}

@media (min-width: @desktop-width) {
  .page-header__glasses {
    display: none;
  }

  .page-header__glasses-stars,
  .page-header__stars {
    display: block;
  }

  .page-header__stars {
    color: @darkPink;
  }

  .page-header__wrapper {
    margin: 0 auto;
    padding-top: 113px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 122px;
    max-width: @desktop-width;

    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: left 28px bottom;
    background-size: 1050px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
    }
  }

  .page-header {
    width: 100%;

    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .page-header--inner {
    background-size: 2560px auto;
    background-position: center top -5px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-position: center top 5px;
    }
  }

  .page-header__software {
    width: 303px;
  }

  .page-header__bottom {
    width: 0;
  }

  .page-header__text--inner {
    width: 960px;
    font-size: 50px;
  }

  .page-header__bottom--inner {
    padding: 68px 0 101px 0;
    height: auto;
    width: 100%;
    background-image: none;
  }

  .page-header__bottom--photo {
    padding-bottom: 102px;
    width: 100%;
    background-image: none;
  }

  .page-header__headline {
    margin-bottom: 52px;
    padding-left: 28px;
    padding-right: 28px;
    width: auto;
    font-size: 50px;
  }
}
