.page-main {
  margin: 0;
  padding-top: 40px;

  color: @fontColor;
}

.page-main__list {
  list-style-type: none;
  padding: 0;
}

.page-main__text {
  width: 270px;
  margin: 0 auto;
  margin-bottom: 40px;

  font-size: 14px;
  line-height: @lineHeight;
  text-align: center;
}

.page-main__text span {
  display: none;
}

.page-main__text br {
  display: none;
}

.page-main__item {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;

  background-color: @lightBackground;
}

@media (min-width: @tablet-width) {
  .page-main {
    padding-top: 60px;
  }

  .page-main__text {
    margin-bottom: 70px;
    width: 500px;
    font-size: 18px;
  }

  .page-main__text span {
    display: inline-block;
  }

  .page-main__item {
    width: 300px;
  }

  .page-main__item:first-of-type {
    margin: auto;
    margin-bottom: 50px;
    padding: 0;
    width: @tablet-width;
    height: auto;
  }

  .page-main__list {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin-bottom: 65px;
  }
}

@media (min-width: @desktop-width) {
  .page-main {
    margin: auto;
    width: 100%;
  }

  .page-main--inner {
    margin: auto;
    width: @desktop-width;
  }

  .page-main__text {
    width: 770px;
  }

  .page-main__text--photo {
    width: 550px;
  }

  .page-main__item:first-of-type {
    width: @desktop-width;
    height: auto;
  }

  .page-main__text br {
    display: inline;
  }
}
