.photo__image {
  display: block;
  margin: auto;
  width: 280px;
  height: 180px;
}

.photo__image--panorama {
  width: 320px;
  height: 137px;
}

.photo__link {
  display: block;
  width: 280px;
  height: 180px;
  margin: 0;
  padding: 0;
}

.photo__link--panorama {
  width: 320px;
  height: 137px;
}

.photo {
  padding-bottom: 21px;
}

.photo__wrapper {
  margin: auto;
  padding-top: 18px;
  padding-left: 18px;
  box-sizing: border-box;
  width: 280px;
  background-color: @lightBackground;
}

.photo__wrapper--panorama {
  position: relative;
  padding-bottom: 4px;
}

.photo__wrapper--panorama::after {
  content: "Панорама дня";
  position: absolute;
  top: -137px;
  right: 0;

  padding-top: 5px;
  display: block;
  width: 140px;
  height: 30px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: @white;
  background-color: @darkPink;
}

.photo__text {
  margin: 0;
  margin-bottom: 9px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.photo__text--color {
  margin-left: 14px;
  font-size: 12px;
  text-transform: uppercase;
  color: @darkPink;
}

.photo__time {
  font-size: 12px;
  text-transform: uppercase;
}

.photo__like {
  margin-left: 18px;
}

.photo__like--panorama {
  margin-left: 0;
}

.photo__button {
  width: 13px;
  height: 12px;
  border: 0;
  background-color: transparent;
  background-image: url("../img/icon-heart.svg");
  background-position: center;
  background-repeat: no-repeat;
  outline: none;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .photo__image {
    width: 300px;
    height: 300px;
  }

  .photo__link {
    width: 300px;
    height: 300px;
  }

  .photo__link--panorama {
    width: @tablet-width;
    height: 512px;
  }

  .photo__wrapper {
    flex-grow: 1;
    margin: auto;
    padding-top: 24px;
    padding-left: 29px;
    padding-right: 31px;
    padding-bottom: 14px;
    width: 300px;
    min-height: 107px;
    background-color: @lightBackground;
  }

  .photo__wrapper--panorama::after {
    top: -454px;
    right: 0;
  }

  .photo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
  }

  .photo__image--panorama {
    width: @tablet-width;
    height: 509px;
  }

  .photo__wrapper--panorama {
    display: flex;
    flex-wrap: wrap;
    padding: 22px 28px 26px 28px;
    width: 620px;
  }

  .photo__wrapper--panorama .photo__like {
    align-items: baseline;
    width: 119px;
  }

  .photo__author {
    margin-right: 3px;
    order: 1;
  }

  .photo__time {
    order: 2;
  }

  .photo__text {
    margin: 0;
    margin-right: auto;
    order: 4;
  }

  .photo__like {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    margin: 0;
    padding-left: 28px;
    padding-right: 33px;
    padding-bottom: 24px;
    order: 3;
  }

  .photo__like--panorama {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    margin-left: auto;
    padding-right: 1px;
    padding-bottom: 0;
    order: 3;
  }

  .photo__text--color {
    order: 4;
  }
}

@media (min-width: @desktop-width) {
  .photo__image {
    width: 300px;
    height: 400px;
  }

  .photo__link {
    width: 300px;
    height: 400px;
  }

  .photo__link--panorama {
    margin: auto;
    width: 1200px;
    height: 506px;
  }

  .photo__wrapper--panorama::after {
    top: -452px;
    right: 0;
  }

  .photo__image--panorama {
    margin: auto;
    width: 1200px;
    height: 506px;
  }

  .photo__wrapper--panorama {
    padding: 25px 30px 23px 28px;
    width: 940px;
    min-height: 93px;
  }

  .photo__wrapper--panorama .photo__text {
    width: 870px;
    text-align: left;
  }

  .photo__wrapper {
    text-align: left;
  }
}
