.photo {
  outline: solid 2px lightblue;
}

.photo__image {
  width: 280px;
  height: 180px;
}

.photo__image--panorama {
  width: 320px;
  height: 137px;
  margin-left: -20px;
}

.photo__text {
  padding-left: 10px;
}

.photo__text--color {
  color: @darkPink;
}
