.processing {
  background-color: @lightBackground;
}

.processing__wrapper {
  padding-top: 26px;
  text-align: center;
  margin-right: 3px;
}

.processing__button {
  padding-bottom: 40px;
}

.processing__tools {
  margin-top: 30px;
  margin-bottom: 37px;
  padding-bottom: 63px;

  border-bottom: solid 2px #dddfe0;
}

@media (min-width: @tablet-width) {
  .processing__wrapper {
    display: flex;
    padding: 59px 20px;
    padding-bottom: 49px;

    align-items: flex-start;
  }

  .processing__image-wrapper {
    flex-shrink: 0;
    padding-right: 0;
    box-sizing: border-box;
    width: 300px;
  }

  .processing__image {
    display: block;
    width: 300px;
    height: 400px;
  }

  .processing__tools {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
    margin-bottom: 68px;
    padding-bottom: 0;

    border-bottom: none;
  }

  .processing__part {
    margin-left: 30px;
  }

  .processing__button {
    padding-top: 0;
    padding-bottom: 5px;
  }
}

@media (min-width: @desktop-width) {
  .processing__image-wrapper {
    padding-right: 0;
    box-sizing: border-box;
    width: 300px;
  }

  .processing__wrapper {
    display: flex;
    margin: auto;
    padding-top: 54px;
    padding-left: 79px;
    padding-right: 10px;
    padding-bottom: 53px;
    align-items: flex-start;
  }

  .processing__part {
    margin-left: 91px;
    box-sizing: border-box;
  }

  .processing__button {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: baseline;
  }

  .processing__tools {
    margin-bottom: 147px;
  }
}
