.processing {
  background-color: @lightBackground;
}

.processing__wrapper {
  padding-top: 26px;
  padding-bottom: 39px;
  text-align: center;
}

.processing__button {
  padding-bottom: 40px;
}

.processing__tools {
  margin-top: 30px;
  margin-bottom: 37px;
  padding-bottom: 34px;

  border-bottom: solid 2px #dddfe0;
}

@media (min-width: @tablet-width) {
  .processing__wrapper {
    display: flex;
    padding: 56px 20px;
    padding-bottom: 49px;

    align-items: flex-start;
  }

  .processing__image-wrapper {
    flex-shrink: 0;
    padding-right: 10px;
    box-sizing: border-box;
    width: 310px;
  }

  .processing__image {
    width: 300px;
    height: 400px;
  }

  .processing__tools {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
    margin-bottom: 101px;
    padding-bottom: 0;

    border-bottom: solid 2px #dddfe0;
  }

  .processing__part {
    margin-left: 19px;
  }

  .processing__button {
    padding-top: 0;
    padding-bottom: 5px;
  }
}

@media (min-width: @desktop-width) {
  .processing-image__wrapper {
    width: 460px;
  }

  .processing__wrapper {
    display: flex;
    padding-top: 52px;
    padding-left: 89px;
    padding-right: 0;
    padding-bottom:  56px;
    align-items: flex-start;
  }

  .processing__part {
    margin-left: 81px;
    box-sizing: border-box;
    width: 410px;
  }

  .processing__button {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: baseline;
  }

  .processing__tools {
    margin-bottom: 178px;
  }
}
