.review {
  margin: 0;
  padding: 0;

  text-align: center;
}

.review__item {
  margin: 14px 20px;
  line-height: 30px;
}

.review__toggles {
  margin: 40px 0;
}

.review__author {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
}

.review__personal {
  display: none;
  font-size: 14px;
  font-weight: normal;
}

.review__text {
  font-size: 18px;
}

@media (min-width: @tablet-width) {
  .review__personal {
    display: inline-block;
  }

  .review__item {
    display: flex;
    flex-direction: column-reverse;
  }
}
