.review__wrapper {
  margin-bottom: 38px;
  padding-top: 42px;

  text-align: center;
  background-color: @white;
}

.review__item {
  margin: 0 auto;
  width: 87%;
  line-height: @lineHeight;
}

.review__toggles {
  margin: 0;
  margin-bottom: 40px;
}

.review__author {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: @lineHeight;
  color: @black;
}

.review__personal {
  display: none;
  font-size: 14px;
  font-weight: normal;
}

.review__text {
  margin: 0;
  margin-bottom: 22px;
  line-height: @lineHeight;
  letter-spacing: 0.02em;
}

.review-forward,
.review-back {
  display: none;
}

@media (min-width: @tablet-width) {
  .review__wrapper {
    padding-top: 83px;
    margin-bottom: 17px;
  }

  .review__author {
    margin-bottom: 23px;
    font-size: 20px;
  }

  .review__personal {
    display: inline-block;
    letter-spacing: 0.02em;
  }

  .review__item {
    display: flex;
    flex-direction: column-reverse;
    width: 95%;
  }

  .review__text {
    margin-bottom: 35px;
    font-size: 18px;
  }
}

@media (min-width: @desktop-width) {
  .review__wrapper {
    padding-top: 165px;

    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: top 72px center;
  }

  .review__author {
    font-size: 24px;
  }

  .review__personal {
    font-size: 18px;
  }

  .review__text {
    margin: 20px auto;
    margin-bottom: 36px;
    width: 690px;
    font-size: 18px;
  }

  .review__text-hide {
    display: none;
  }

  .review__toggles {
    display: none;
  }

  .review__item {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 960px;
  }

  .review-forward,
  .review-back {
    position: absolute;

    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: @white;
    border: none;
  }

  .review-forward:focus,
  .review-back:focus {
    outline: none;
  }

  .review-forward {
    top: 48px;
    right: 12px;
  }

  .review-back {
    top: 48px;
    left: 12px;
  }

  .review-forward::after,
  .review-forward::before {
    content: " ";
    position: absolute;

    display: block;
    width: 30px;
    height: 2px;
    background-color: #bec2c7;
  }

  .review-forward::after {
    top: 9px;
    right: -4px;
    transform: rotate(45deg);
  }

  .review-forward::before {
    top: 30px;
    right: -4px;
    transform: rotate(-45deg);
  }

  .review-forward:hover::after,
  .review-forward:hover::before {
    background-color: #7e868f;
  }

  .review-forward:active::after,
  .review-forward:active::before {
    background-color: #e9ebec;
  }

  .review-back::after,
  .review-back::before {
    content: " ";
    position: absolute;

    display: block;
    width: 30px;
    height: 2px;
    background-color: #bec2c7;
  }

  .review-back::after {
    top: 9px;
    left: -7px;
    transform: rotate(-45deg);
  }

  .review-back::before {
    top: 30px;
    left: -6px;
    transform: rotate(45deg);
  }

  .review-back:hover::after,
  .review-back:hover::before {
    background-color: #7e868f;
  }

  .review-back:active::after,
  .review-back:active::before {
    background-color: #e9ebec;
  }
}
