.review__wrapper {
  margin-bottom: 38px;
  padding-top: 42px;

  text-align: center;
  background-color: @white;
}

.review__item {
  margin: 0 auto;
  width: 87%;
  line-height: @lineHeight;
}

.review__toggles {
  margin: 0;
  margin-bottom: 40px;
}

.review__author {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: @lineHeight;
  color: @black;
}

.review__personal {
  display: none;
  font-size: 14px;
  font-weight: normal;
}

.review__text {
  margin: 0;
  margin-bottom: 22px;
  line-height: @lineHeight;
  letter-spacing: 0.02em;
}

.review__button-right,
.review__button-left {
  display: none;
}

@media (min-width: @tablet-width) {
  .review__wrapper {
    padding-top: 83px;
    margin-bottom: 17px;
  }

  .review__author {
    margin-bottom: 23px;
    font-size: 20px;
  }

  .review__personal {
    display: inline-block;
    letter-spacing: 0.02em;
  }

  .review__item {
    display: flex;
    flex-direction: column-reverse;
    width: 95%;
  }

  .review__text {
    margin-bottom: 35px;
    font-size: 18px;
  }
}

@media (min-width: @desktop-width) {
  .review__wrapper {
    position: relative;
    margin: 0 auto;
    padding-top: 165px;
    padding-bottom: 40px;
    max-width: 960px;
    box-sizing: border-box;

    background-image: url("../img/quotes.svg");
    background-repeat: no-repeat;
    background-position: top 72px center;
  }

  .review__author {
    margin: 0;
    font-size: 24px;
  }

  .review__personal {
    margin: 0;
    font-size: 18px;
  }

  .review__text {
    margin: 20px auto;
    margin-bottom: 36px;
    width: 690px;
    font-size: 18px;
  }

  .review__text-hide {
    display: none;
  }

  .review__toggles {
    display: none;
  }

  .review__item {
    position: relative;
    margin: 0 auto;
    padding: 0;
  }

  .review__list {
    position: relative;
  }

  .review__button-right,
  .review__button-left {
    position: absolute;
    bottom: 57%;
    display: inline-block;

    padding: 0;
    width: 22px;
    height: 42px;

    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
  }

  .review__button-right {
    right: 10px;
    background-image: url("../img/review-arrow-right.svg");
  }

  .review__button-left {
    left: 10px;
    background-image: url("../img/review-arrow-left.svg");
  }

  .review__button-right:hover {
    background-image: url("../img/review-arrow-right-hover.svg");
    background-repeat: no-repeat;
  }

  .review__button-right:active {
    background-image: url("../img/review-arrow-right-down.svg");
    background-repeat: no-repeat;
  }

  .review__button-left:hover {
    background-image: url("../img/review-arrow-left-hover.svg");
    background-repeat: no-repeat;
  }

  .review__button-left:active {
    background-image: url("../img/review-arrow-left-down.svg");
    background-repeat: no-repeat;
  }
}
