.site-list {
  text-align: center;
}

.site-list__item {
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow:
    0 -2px 0 0 @black,
    0 2px 0 0 #485461;
}

.site-list__item:last-child {margin-bottom: 2px;
  box-shadow: 0 2px 0 0 @black,
   0 -2px 0 0 @black;
}

@media (min-width: @desktop-width) {
  .site-list__item {
    margin-left: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow: none;
  }

  .site-list__item:last-child {
    border: none;
    box-shadow: none;
  }
}
