.slider__item:not(:first-child) {
  display: none;
}

.slider__toggles {
  margin-bottom: 0;
}

.slider__toggle {
  padding: 0;
  margin-left: 6px;
  margin-right: 8px;
  width: 3px;
  height: 3px;
  background-color: @white;
  border: 3px solid #bec2c7;
  border-radius: 50%;
}

.slider__toggle:not(.slider__toggle--active):hover {
  border-color: #7e868f;
}

.slider__toggle:not(.slider__toggle--active):active {
  border-color: #e9ebec;
}

.slider__toggle--active {
  padding: 3px;
  margin-left: 3px;
  margin-right: 3px;
  background-color: @white;
  border: 3px solid @fontColor;
  border-radius: 50%;
}
