.software {
  padding-top: 30px;
  padding-bottom: 30px;

  color: @white;

  background: @lightBlack;
}

.software__list {
  display: flex;
  justify-content: center;

  padding: 0;
  list-style-type: none;
}

.software__item {
  margin: 20px;
}

.software__text {
  width: 280px;
  margin: auto;

  font-size: 14px;
  line-height: 24px;
  font-weight: lighter;
  text-align: center;
}

.software__link {
  display: block;

  margin: 0 auto;

  text-align: center;
  background: @lightBlack;
}

@media (min-width: @tablet-width) {
  .software {
    margin: 0;
    padding: 0;
  }

  .software,
  .software__link {
    background-color: transparent;
  }

  .software__text {
    width: 300px;
    font-size: 18px;
  }
}

@media (min-width: @desktop-width) {
}
