.table {
  margin-bottom: 40px;
  background: @white;
}

.table__header-row {
  color: @white;
  background: @fontColor;
}

.table__header {
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

.table__header--light {
  font-size: 24px;
  font-weight: lighter;
}

.table__cell {
  width: 276px;
  padding-left: 20px;
}

.table__item {
  font-size: 14px;
  line-height: 30px;
}
