.tariff {
  background-color: @lightBackground;
}

.tariff__wrapper {
  width: 830px;
  margin-left: -255px;
  padding-top: 40px;
  padding-bottom: 20px;

  background-color: @lightBackground;
}

.tariff__toggles {
  text-align: center;
}

@media (min-width: @tablet-width) {
  .tariff__wrapper {
    margin: 0 20px;
    padding-bottom: 50px;
    width: auto;
  }

  .tariff__toggles {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .tariff__wrapper {
    padding-bottom: 100px;
  }

  .tariff {
    margin-bottom: 50px;
  }
}
