.tariff {
  background-color: @lightBackground;
  outline: solid 2px gray;
}

.tariff__wrapper {
  width: 830px;
  margin-left: -255px;
  padding-top: 40px;
  padding-bottom: 20px;

  background-color: @lightBackground;
  outline: solid 2px indigo;
}

.tariff__toggles {
  text-align: center;
}
