.tariff {
  background-color: @lightBackground;
}

.tariff__wrapper {
  padding-top: 60px;
  padding-bottom: 8px;

  overflow: hidden;
  background-color: @lightBackground;
}

.tariff__toggles {
  text-align: center;
}

@media (min-width: @tablet-width) {
  .tariff__wrapper {
    margin: 0 20px;
    padding-top: 31px;
    padding-bottom: 67px;
    width: auto;
    overflow: inherit;
  }

  .tariff__toggles {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .tariff__wrapper {
    padding-top: 0;
    padding-bottom: 95px;
    margin-left: 12px;
    margin-right: 16px;
  }

  .tariff {
    margin-bottom: 0;
  }
}
