.tools button{
  width: 50px;
  height: 55px;
}

.tools-scale__wrapper {
  position: relative;
}

.tools__scale {
  margin: auto;
  margin-top: 30px;
  width: 240px;
  height: 2px;
  background-color: @fontColor;
}

.tools__toggle {
  position: absolute;
  top: -6px;
  right: 60px;
  width: 10px;
  height: 10px;
  border: 2px solid @darkPink;
  border-radius: 50%;
  background-color: @white;
}
