.triangular-backgraund {
  display: block;
  width: 320px;
  height: 35px;

  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-color: @lightBackground;
  background-position: center;
}

.triangular-backgraund--down {
  position: absolute;
  top: -1px;
  height: 35px;

  background-image: url("../img/bg-triangle-white-footer.svg");
  background-color: transparent;
  background-size: 320px 40px;
}

@media (min-width: @tablet-width) {
  .triangular-backgraund--none {
    display: none;
  }

  .triangular-backgraund {
    width: 660px;
    height: 60px;

    background-image: url("../img/bg-triangle-white.svg");
    background-color: transparent;
  }

  .triangular-backgraund--down {
    height: 67px;
    background-image: url("../img/bg-triangle-white-footer.svg");
    background-size: 660px 70px;
  }
}

@media (min-width: @desktop-width) {
  .triangular-backgraund {
    margin: 0 auto;
    margin-bottom: 55px;
    width: 100%;
    height: 94px;

    background-image: url("../img/bg-triangle-white-desktop.svg");
    background-size: 100% 94px;
    background-position: left top -7px;
  }

  .triangular-backgraund--down {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 300px;

    background-image: url("../img/bg-triangle-white-footer-desktop.svg");
    background-size: 100% auto;
    background-position: 0 0;
  }
}
